@charset "UTF-8";

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
	{
	display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,canvas,video {
	display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not ([controls] ) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],template {
	display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */
body {
	margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
	outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,a:hover {
	outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #ff0;
	color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,kbd,pre,samp {
	font-family: monospace, serif;
	font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
	white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
	border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not (:root ) {
	overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
	margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,input,select,textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 2 */
	margin: 0;
	/* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,input {
	line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],html input[disabled] {
	cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	/* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
	overflow: auto;
	/* 1 */
	vertical-align: top;
	/* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 3;
}

/*------------------------------------------------------+
|                                                       |+
|    GLOBAL STYLE                                       ||+
|                                                       |||+
+-------------------------------------------------------+|||
 +=======================================================+||
  +-------------------------------------------------------*/
body {
	font-family: "Segoe UI", Helvetica, Arial, Sans-Serif;
	font-size: 100%;
	line-height: 1.5625em;
	color: #262626;
	background: #fcfcfc;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.625em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.375em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.125em;
}

.bw0 {
	color: black;
}

.bwbg0,table.banggia,table.banggia tfoot {
	background-color: black;
}

.bw2 {
	color: #050505;
}

.bwbg2 {
	background-color: #050505;
}

.bw4 {
	color: #0a0a0a;
}

.bwbg4,table.banggia thead {
	background-color: #0a0a0a;
}

.bw6 {
	color: #0f0f0f;
}

.bwbg6,table.banggia tbody tr.detail,table.banggia tbody tr.detail:hover,table.banggia tbody tr.detail.selected
	{
	background-color: #0f0f0f;
}

.bw8 {
	color: #141414;
}

.bwbg8 {
	background-color: #141414;
}

.bw10 {
	color: #1a1a1a;
}

.popup {
	background-color: #1a1a1a;
}

.bwbg10,table.banggia col.hover,table.banggia tbody tr:hover,table.banggia tbody tr.hover
	{
	background-color: #1a1a1a;
}

.bwbg101 {
	background-color: #1a1a1a;
	color:ffcc00;
}

.bwbg102 {
	background-color: #1a1a1a;
	color:magenta;
}

.bwbg103 {
	background-color: #1a1a1a;
	color:cyan;
}

.bw12 {
	color: #1f1f1f;
}

.bwbg12 {
	background-color: #1f1f1f;
}

.bw14 {
	color: #242424;
}

.bwbg14 {
	background-color: #242424;
}

.bw16 {
	color: #292929;
}

.bwbg16 {
	background-color: #292929;
}

.bw18 {
	color: #2e2e2e;
}

.bwbg18 {
	background-color: #2e2e2e;
}

.bw20 {
	color: #333333;
}

.bwbg20,header.topbar {
	background-color: #333333;
}

.bw22 {
	color: #383838;
}

.bwbg22 {
	background-color: #383838;
}

.bw24 {
	color: #3d3d3d;
}

.bwbg24 {
	background-color: #3d3d3d;
}

.bw26 {
	color: #424242;
}

.bwbg26 {
	background-color: #424242;
}

.bw28 {
	color: #474747;
}

.bwbg28 {
	background-color: #474747;
}

.bw30 {
	color: #4d4d4d;
}

header.topbar .menu .buttons a {
	background-color: #4d4d4d;
}

.bwbg30 {
	background-color: #4d4d4d;
}

.bw32 {
	color: #525252;
}

.bwbg32 {
	background-color: #525252;
}

.bw34 {
	color: #575757;
}

.bwbg34 {
	background-color: #575757;
}

.bw36 {
	color: #5c5c5c;
}

.bwbg36 {
	background-color: #5c5c5c;
}

.bw38 {
	color: #616161;
}

.bwbg38 {
	background-color: #616161;
}

.bw40 {
	color: #666666;
}

header.topbar .menu .buttons a:hover {
	background-color: #666666;
}

.bwbg40 {
	background-color: #666666;
}

.bw42 {
	color: #6b6b6b;
}

.bwbg42 {
	background-color: #6b6b6b;
}

.bw44 {
	color: #707070;
}

.bwbg44 {
	background-color: #707070;
}

.bw46 {
	color: #757575;
}

.bwbg46 {
	background-color: #757575;
}

.bw48 {
	color: #7a7a7a;
}

.bwbg48 {
	background-color: #7a7a7a;
}

.bw50 {
	color: gray;
}

.bwbg50 {
	background-color: gray;
}

.bw52 {
	color: #858585;
}

.bwbg52 {
	background-color: #858585;
}

.bw54 {
	color: #8a8a8a;
}

.bwbg54 {
	background-color: #8a8a8a;
}

.bw56 {
	color: #8f8f8f;
}

.bwbg56 {
	background-color: #8f8f8f;
}

.bw58 {
	color: #949494;
}

.bwbg58 {
	background-color: #949494;
}

.bw60 {
	color: #999999;
}

.bwbg60 {
	background-color: #999999;
}

.bw62 {
	color: #9e9e9e;
}

.bwbg62 {
	background-color: #9e9e9e;
}

.bw64 {
	color: #a3a3a3;
}

.bwbg64 {
	background-color: #a3a3a3;
}

.bw66 {
	color: #a8a8a8;
}

.bwbg66 {
	background-color: #a8a8a8;
}

.bw68 {
	color: #adadad;
}

.bwbg68 {
	background-color: #adadad;
}

header.topbar .menu .buttons a {
	color: #b3b3b3;
}

.bw70 {
	color: #b3b3b3;
}

.bwbg70 {
	background-color: #b3b3b3;
}

.bw72 {
	color: #b8b8b8;
}

.bwbg72 {
	background-color: #b8b8b8;
}

.bw74 {
	color: #bdbdbd;
}

.bwbg74 {
	background-color: #bdbdbd;
}

.bw76 {
	color: #c2c2c2;
}

.bwbg76 {
	background-color: #c2c2c2;
}

.bw78 {
	color: #c7c7c7;
}

.bwbg78 {
	background-color: #c7c7c7;
}

.popup {
	color: #cccccc;
}

.bw80 {
	color: #cccccc;
}

.bwbg80 {
	background-color: #cccccc;
}

.bw82 {
	color: #d1d1d1;
}

.bwbg82 {
	background-color: #d1d1d1;
}

.bw84 {
	color: #d6d6d6;
}

.bwbg84 {
	background-color: #d6d6d6;
}

.bw86 {
	color: #dbdbdb;
}

.bwbg86 {
	background-color: #dbdbdb;
}

.bw88 {
	color: #e0e0e0;
}

.bwbg88 {
	background-color: #e0e0e0;
}

header.topbar .menu .buttons a:hover {
	color: #e6e6e6;
}

.bw90 {
	color: #e6e6e6;
}

.bwbg90 {
	background-color: #e6e6e6;
}

.bw92 {
	color: #ebebeb;
}

.bwbg92 {
	background-color: #ebebeb;
}

.bw94 {
	color: #f0f0f0;
}

.bwbg94 {
	background-color: #f0f0f0;
}

.bw96 {
	color: whitesmoke;
}

.bwbg96 {
	background-color: whitesmoke;
}

.bw98 {
	color: #fafafa;
}

.bwbg98 {
	background-color: #fafafa;
}

.bw100 {
	color: white;
}

.bwbg100 {
	background-color: white;
}

/*------------------------------------------------------+
|                                                       |+
|    GRID SYSTEM                                        ||+
|                                                       |||+
+-------------------------------------------------------+|||
 +=======================================================+||
  +-------------------------------------------------------*/
.col1 {
	width: 1.84615%;
}

.push1 {
	margin-left: 3.38462%;
}

.col2 {
	width: 5.23077%;
}

.push2 {
	margin-left: 6.76923%;
}

.col3 {
	width: 8.61538%;
}

.push3 {
	margin-left: 10.15385%;
}

.col4 {
	width: 12%;
}

.push4 {
	margin-left: 13.53846%;
}

.col5 {
	width: 15.38462%;
}

.push5 {
	margin-left: 16.92308%;
}

.col6 {
	width: 18.76923%;
}

.push6 {
	margin-left: 20.30769%;
}

.col7 {
	width: 22.15385%;
}

.push7 {
	margin-left: 23.69231%;
}

.col8 {
	width: 25.53846%;
}

.push8 {
	margin-left: 27.07692%;
}

.col9 {
	width: 28.92308%;
}

.push9 {
	margin-left: 30.46154%;
}

.col10 {
	width: 32.30769%;
}

.push10 {
	margin-left: 33.84615%;
}

.col11 {
	width: 35.69231%;
}

.push11 {
	margin-left: 37.23077%;
}

.col12 {
	width: 39.07692%;
}

.push12 {
	margin-left: 40.61538%;
}

.col13 {
	width: 42.46154%;
}

.push13 {
	margin-left: 44%;
}

.col14 {
	width: 45.84615%;
}

.push14 {
	margin-left: 47.38462%;
}

.col15 {
	width: 49.23077%;
}

.push15 {
	margin-left: 50.76923%;
}

.col16 {
	width: 52.61538%;
}

.push16 {
	margin-left: 54.15385%;
}

.col17 {
	width: 56.0%;
}

.push17 {
	margin-left: 57.53846%;
}

.col18 {
	width: 59.38462%;
}

.push18 {
	margin-left: 60.92308%;
}

.col19 {
	width: 62.76923%;
}

.push19 {
	margin-left: 64.30769%;
}

.col20 {
	width: 66.15385%;
}

.push20 {
	margin-left: 67.69231%;
}

.col21 {
	width: 69.53846%;
}

.push21 {
	margin-left: 71.07692%;
}

.col22 {
	width: 72.92308%;
}

.push22 {
	margin-left: 74.46154%;
}

.col23 {
	width: 76.30769%;
}

.push23 {
	margin-left: 77.84615%;
}

.col24 {
	width: 79.69231%;
}

.push24 {
	margin-left: 81.23077%;
}

.col25 {
	width: 83.07692%;
}

.push25 {
	margin-left: 84.61538%;
}

.col26 {
	width: 86.46154%;
}

.push26 {
	margin-left: 88%;
}

.col27 {
	width: 89.84615%;
}

.push27 {
	margin-left: 91.38462%;
}

.col28 {
	width: 93.23077%;
}

.push28 {
	margin-left: 94.76923%;
}

.col29 {
	width: 96.61538%;
}

.push29 {
	margin-left: 98.15385%;
}

.col30 {
	width: 100%;
}

.push30 {
	margin-left: 101.53846%;
}

.col {
	float: left;
	margin-right: 1.53846%;
}

.row {
	margin-bottom: 15px;
}

.wrapper {
	width: 975px;
	margin: 0 auto;
}

/*------------------------------------------------------+
|                                                       |+
|      PAGE STYLE                                       ||+
|                                                       |||+
+-------------------------------------------------------+|||
 +=======================================================+||
  +-------------------------------------------------------*/
body.vndirect-banggia {
	font-size: 0.75em;
	line-height: 1.666666667em;
	background: #1a1a1a;
	color: #d8d8d8;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 768px;
}

body.vndirect-banggia a img {
	border: none;
}

body.vndirect-banggia a:link {
	color: #f0f0f0;
	text-decoration: none;
}

body.vndirect-banggia a:visited {
	color: #f0f0f0;
	text-decoration: none;
}

body.vndirect-banggia a:hover,body.vndirect-banggia a:active,body.vndirect-banggia a:focus
	{
	color: #fff;
	text-decoration: none;
	outline: none;
}

header.topbar {
	padding: 10px;
	line-height: 20px;
	/* -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); */
	position: relative;
}

header.topbar a.logo {
	display: block;
	float: left;
	width: 103px;
	height: 20px;
	text-indent: -9999em;
	overflow: hidden;
	background: #333333 url(../img/logo.gif) top left no-repeat;
	margin-right: 20px;
}

header.topbar .digital-clock {
	font-family: 'DigifaceWide', 'Courier New', Monospace;
	color: #E88A2B;
	margin-right: 20px;
	font-size: 1.6666666667em;
	vertical-align: top;
	line-height: 18px;
}

header.topbar .date,header.topbar .news-ticker,header.topbar .news-ticker-navigation
	{
	color: #E88A2B;
	margin-right: 10px;
}

header.topbar .news-ticker-navigation a {
	color: #E88A2B;
	font-weight: bold;
	background: url(../img/arrows.png) 0 0 no-repeat;
	text-indent: -9999em;
	overflow: hidden;
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: baseline;
}

header.topbar .news-ticker-navigation a.left {
	background-position: 0 0;
}

header.topbar .news-ticker-navigation a.right {
	background-position: -12px 0;
}

header.topbar .news-title a {
	color: #FFCC00;
}

header.topbar .news-title a:hover {
	text-decoration: underline;
}

header.topbar .menu {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 54;
}

header.topbar .menu a.icon-menu {
	display: none;
	width: 40px;
	height: 40px;
	text-indent: -9999em;
	overflow: hidden;
	background: #333333 url(../img/icon-menu.gif) 50% 50% no-repeat;
	border-left: 1px solid #3d3d3d;
	/* position: absolute; right: 0; top: 0; */
}

header.topbar .menu .buttons {
	width: 300px;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 20px;
}

header.topbar .menu .buttons a {
	display: block;
	float: right;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	margin-left: 10px;
}

.chart-area-wrp {
	height: 180px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	background: #2a2a2a;
}

.chart-area-wrapper {
	height: 180px;
	width: 1180px;
	min-width: 1180px;
	background: #2a2a2a;
	/* -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); */
	/* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); */
	position: relative;
	z-index: 53;
}

.chart-area {
	height: 151px;
	width: 1110px;
	padding: 10px 0 0 70px;
	color: #ccc;
	background: #2a2a2a;
	clear: both;
	position: relative;
	overflow: hidden;
}

.chart-area .selector {
	display: block;
	width: 60px;
	height: auto;
	position: absolute;
	top: 10px;
	left: 10px;
}

.chart-area .selector ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.chart-area .selector ul li a {
	display: block;
	color: #666;
}

.chart-area .selector ul li a:hover {
	color: #888888;
}

.chart-area .selector ul li a.active {
	color: #cccccc;
}

.chart-area .selector ul li a.chart-toggle {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-indent: -9999em;
	overflow: hidden;
	background: #666666 url(../img/chart-toggle.gif) 0 0 no-repeat;
}

.chart-area .selector ul li a.chart-toggle:hover {
	background-position: -20px 0;
}

.chart-area .selector ul li a.chart-toggle.active {
	background-position: -20px 0;
}

.chart-area .chart-box {
	font-size: 91.66666667%;
	line-height: 1.3333333333em;
	display: block;
	width: 200px;
	height: auto;
	padding: 5px;
	position: relative;
	background: #111;
	float: left;
	margin: 0 10px 10px 0;
	text-align: center;
	border: 1px solid #111;
}

.chart-area .chart-box:hover {
	border: 1px solid #e88a2b;
}

.chart-area .chart-box:first-child {
	margin-left: 50px !important;
}

.chart-area .chart-box p {
	margin: 0;
}

.chart-area .chart-box a.button-close {
	display: none;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 16px;
	height: 16px;
	text-indent: -9999em;
	overflow: hidden;
	background: url(../img/icon-close.png) 0 0 no-repeat;
}

.chart-area .chart-box:hover a.button-close,.chart-area .chart-box:focus a.button-close
	{
	display: block;
}

.chart-area .chart-box .timespan {
	display: block;
	width: 190px;
	white-space: pre;
	color: #666666;
}

.chart-area .chart-box .icon-arrowup,.chart-area .chart-box .icon-square,.chart-area .chart-box .icon-arrowdown
	{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(../img/icons1.gif) 0 0 no-repeat;
	text-indent: -9999em;
	overflow: hidden;
	vertical-align: baseline;
}

.chart-area .chart-box .icon-square {
	background-position: -11px 0;
}

.chart-area .chart-box .icon-arrowdown {
	background-position: -22px 0;
}

a.toggle-chart-area {
	position: relative;
	/* bottom: -17px; right: 0; */
	float: right;
	clear: both;
	display: block;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	overflow: hidden;
	background: #2a2a2a url(../img/arrows.png) -24px 0 no-repeat;
	border: 5px solid #2a2a2a;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 0 0 0;
	z-index: 55;
}

a.toggle-chart-area:hover,a.toggle-chart-area:active,a.toggle-chart-area:focus
	{
	background-color: #444;
	border-color: #444;
}

a.toggle-chart-area.down {
	background-position: -36px 0;
}

.tabbed-tabs {
	/* height: 30px; */
	padding: 10px 0 0;
	z-index: 51;
	position: relative;
	/* min-width: 1000px; */
}

.tabbed-tabs .search-box {
	display: block;
	width: 130px;
	float: left;
	padding-left: 5px;
	margin-bottom: 5px;
	white-space: nowrap;
	font-size: 0;
}

.tabbed-tabs .search-box input {
	display: inline-block;
	width: 80px;
	height: 24px;
	line-height: 24px;
	vertical-align: top;
	position: relative;
	padding: 0 2px;
	border: 0;
	color: #999;
	background-color: #e0e0e0;
	font-size: 12px;
}

.tabbed-tabs .search-box input:focus {
	background-color: #f0f0f0;
	color: #666;
	-webkit-box-shadow: 0 0 10px #e88a2b;
	box-shadow: 0 0 10px #e88a2b;
}

.tabbed-tabs .search-box button {
	display: inline-block;
	height: 24px;
	width: 40px;
	line-height: 20px;
	padding: 0 0px;
	border: 0;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	background-color: #c8c8c8;
	text-align: center;
	vertical-align: top;
	font-size: 12px;
	border-radius: 0;
}

.tabbed-tabs .search-box button:hover {
	background-color: #E88A2B;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.tabbed-tabs>ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	height: 32px;
}

.tabbed-tabs>ul>li {
	display: inline-block;
	float: left;
	margin-right: 2px;
	position: relative;
}

.tabbed-tabs>ul>li>a {
	display: inline-block;
	line-height: 2.3333333333em;
	height: 2.5em;
	background-color: #2a2a2a;
	padding: 0 1.666666667em;
	border-top: 2px solid #2a2a2a;
}

.tabbed-tabs>ul>li>a span.icon-arrowupdown {
	display: inline-block;
	width: 9px;
	height: 11px;
	position: relative;
	bottom: -2px;
}

.tabbed-tabs>ul>li.active>a {
	background-color: #333;
	border-top: 2px solid #E88A2B;
	border-bottom: 2px solid #333;
	position: relative;
	z-index: 51;
}

.tabbed-tabs>ul>li:hover>a {
	background-color: #333;
	border-top: 2px solid #E88A2B;
}

.tabbed-tabs>ul>li ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 52;
	display: none;
	width: 400px;
	height: auto;
	padding: 0;
	-webkit-column-gap: 1px;
	-moz-column-gap: 1px;
	column-gap: 1px;
	background: #222;
	list-style: none;
}

.tabbed-tabs>ul>li ul.sub-menu.two-column {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.tabbed-tabs>ul>li ul.sub-menu li a {
	display: block;
	padding: 4px 5px;
	margin: 0 0 1px;
	background: #333;
	color: #ddd;
}

.tabbed-tabs>ul>li ul.sub-menu li a:hover {
	background: #444;
	color: #fff;
}

.tabbed-tabs>ul>li:hover ul {
	display: block;
}

.tabbed-content {
	z-index: 50;
	/*  position: relative; */
	padding-top: 264px;
}

.tabbed-content .space {
	background-color: #333;
	height: 20px;
	width: 100%;
	padding: 10px;
	line-height: 20px;
	position: fixed;
	top: 264px;
}

.tabbed-content .space a {
	display: inline-block;
	margin-right: 10px;
	padding: 0 10px;
	background: #444444;
}

.tabbed-content .space a.icon-plus {
	font-family: Arial;
	font-weight: bold;
	font-size: 2em;
	vertical-align: bottom;
}

.tabbed-content .space a:hover {
	background: #555;
}

.tabbed-content .space a.active:hover,.tabbed-content .space a.active {
	background-color: #f39200;
}

.tabbed-content .space em {
	color: #666666;
}

table.banggia {
	width: 100%;
	border-collapse: collapse;
	table-layout: inherit;
}

table.banggia.main {
	min-width: 768px;
}

table.banggia .overflow {
	height: 200px;
	overflow-y: scroll;
}

table.banggia tr th,table.banggia tr td {
	border: 1px solid #333333;
	padding: 2px;
	overflow: hidden;
	height: 1.666666667em;
	line-height: 1.66667em;
}

table.banggia td .icon {
	vertical-align: middle;
}

table.banggia thead {
	color: #fff;
}

table.banggia thead tr th {
	font-weight: normal;
	overflow: hidden;
	cursor: n-resize;
	cursor: url(../img/arrow-updown.gif), auto;
}

table.banggia thead tr th::-moz-selection {
	background: transparent;
}

table.banggia thead tr th::selection {
	background: transparent;
}

table.banggia thead tr th.sorted {
	background: #e88a2b url(../img/arrow-up-white.gif) center bottom
		no-repeat;
}

table.banggia thead tr th.sorted-asc {
	background: #e88a2b url(../img/arrow-down-white.gif) center bottom
		no-repeat;
}

table.banggia tbody {
	color: #fff;
}

table.banggia tbody tr td {
	text-align: right;
}

table.banggia tbody tr td:first-child {
	text-align: left;
}

table.banggia tbody tr td span.show-on-hover {
	float: right;
	display: none;
}

table.banggia tbody tr:hover td span.show-on-hover {
	display: inline;
}

table.banggia tfoot tr td {
	padding: 5px;
}

table.banggia tbody tr.selected {
	background-color: #000033;
}

table.banggia div.detail {
	width: 90%;
	min-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
}

table.banggia div.detail h5 {
	margin-top: 0;
}

table.banggia div.detail canvas {
	margin: 0 5px;
}

.fixedHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 60;
	display: none;
}

.fixedHeader.scrollfix {
	top: 180px;
}

.tabbed-tabs.scrollfix {
	margin-top: 180px;
}

.chart-area-wrapper.scrollfix {
	position: fixed;
	top: 0;
}

.footer {
	position: static;
}

.footer .legend p {
	text-align: center;
	/* position: fixed; bottom: 0; width: 300px; left: 50%; margin-left: -150px */
}

.overlay-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 53;
	background-color: rgba(0, 0, 0, 0.75);
}

.popup {
	position: absolute;
	width: 80%;
	height: 80%;
	padding: 1%;
	top: 10%;
	left: 10%;
	z-index: 54;
}

.popup a.icon {
	position: absolute;
	right: -5px;
	top: -5px;
}

.popup .content {
	max-height: 600px;
	overflow-y: scroll;
}

/*
+---------------------------------------------------------------------+
|            640|      768|   960|         1024|                  1280|
|---------------------------------------------------------------------|
|               |         |      |             |                      |
|               |         |      |             |                      |
|               |         |      |             |                      |
|               |         |      |             |                      |
|               |         |      |             |                      |
|               |         |      |             |                      |
|iPhone —       |         |      |             |                      |
|---------------|----------------+             |                      |
|               |         |                    |                      |
|               |         |                    |                      |
|               |         |                    |                      |
|               |         |                    |                      |
|iPhone |       |         |                    |                      |
|---------------+         |                    |                      |
|                         |                    |                      |
|                         |                    |                      |
|iPad —                   |                    |                      |
|----------------------------------------------+                      |
|                         |                                           |
|                         |                                           |
|iPad |                   |                                           |
|-------------------------+                                           |
|Widescreen                                                           |
+---------------------------------------------------------------------+
*/

/* FOR TABLET WIDTH 1024 */

/* @media screen and (max-width: 900px) {
  .topbar .menu a.icon-menu {
    display: block !important;
  }

  .topbar .menu .buttons {
    width: 300px;
    position: absolute;
    right: 0 !important;
    top: 40px !important;
    height: 80px;
    display: none;
  }

  .topbar .menu .buttons a {
    display: block;
    float: right;
    clear: both;
    height: 40px !important;
    line-height: 40px !important;
    width: 70px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 880px) {
  TRANH BI XO LECH TABS
}

@media screen and (max-width: 768px) {
  .hide-on-tablet {
    display: none;
  }

  table.banggia {
    max-width: 768px;
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  table.banggia {
    font-family: 'Arial Narrow', Helvetica, Arial, Sans-Serif;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }

  .topbar a.logo {
    float: none !important;
    margin: 0 auto !important;
    background-color: red;
  }

  .tabbed-content .space {
    height: auto;
  }

  .footer {
    display: relative;
  }
} */

/* FOR IPHONE PORTRAIT =640 */

/* ===========================
     _    _             _     
    | |  (_)           | |    
  _ | |   _    ____    | | _  
 / || |  | |  |  _ \   | || \ 
( (_| |  | |  | | | |  | | | |
 \____|  |_|  |_| |_|  |_| |_|
                              
=========================== */

/*------------------------------------------------------+
|                                                       |+
|    COMMON UI & STYLES                                 ||+
|                                                       |||+
+-------------------------------------------------------+|||
 +=======================================================+||
  +-------------------------------------------------------*/
.stxt {
	font-size: 0.85em;
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.em {
	font-style: italic;
}

.txtl {
	text-align: left;
}

.txtc {
	text-align: center;
}

.txtr {
	text-align: right;
}

.fltl {
	float: left;
}

.fltr {
	float: right;
}

.htxt {
	text-indent: -9999px;
	overflow: hidden;
}

.hidden {
	display: none;
	/* visibility: hidden; */
}

.nomg {
	margin: 0 !important;
}

.nopd {
	padding: 0 !important;
}

.nobd {
	border: 0 !important;
}

.nobg {
	background: transparent !important;
}

.hr {
	display: block;
	height: 1px;
	width: auto;
	margin: 5px auto;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	border-bottom: 1px solid #fff;
	background: #aaaaaa;
}

.hr hr {
	display: none;
}

.clr {
	clear: both;
}

.clrer {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	line-height: 1px;
	font-size: 1px;
}

.clrl {
	clear: left;
}

.clrr {
	clear: right;
}

span.clear,div.clear,li.clear,dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* .clrfx:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden }
.clrfx { display: inline-block }
* html .clrfx { height: 1% }
.clrfx { display: block } */

/* For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements. */
.clrfx:before,.clrfx:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clrfx:after {
	clear: both;
}

/* For IE 6/7 only. Include this rule to trigger hasLayout and contain floats. */
.clrfx {
	*zoom: 1;
}

.rlt {
	position: relative;
}

.iconimg {
	vertical-align: middle;
}

.upc {
	text-transform: uppercase;
}

.cpt {
	text-transform: capitalize;
}

.opa75 {
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

.opa60 {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.60;
	opacity: 0.6;
}

.opa50 {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.50;
	opacity: 0.5;
}

.opa100 {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.first,.innerleft {
	margin-left: 0;
}

.last,.innerright {
	margin-right: 0;
}

.icon {
	border: 0;
	text-indent: 9999em;
	overflow: hidden;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: baseline;
}

.icon-edit {
	background-image: url(../img/icons/pencil.png);
}

.icon-delete {
	background-image: url(../img/icons/cross.png);
}

.icon-close {
	background-image: url(../img/icon-close.png);
}

button.button {
	padding: 2px 8px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 5%;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

button.button:hover {
	-webkit-box-shadow: inset 10em 10em 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 10em 10em 0 rgba(255, 255, 255, 0.2);
}

button.button.light {
	background-color: #cccccc;
	color: #000;
	text-shadow: 0 1px 0 #fff;
}

button.button.orange {
	background-color: #f39200;
	color: #fff;
}

.alert {
	clear: both;
	padding: 1em 2em;
	border-radius: 3px;
	margin-bottom: 1em;
}

.alert-green {
	background: #EAFFEF;
	border: 1px solid #48c868;
}

.alert-red {
	background: #FFEAEA;
	border: 1px solid #c84848;
}

.alert-yellow {
	background: #FFFCEA;
	border: 1px solid #ffdb11;
}

.lenh-mua {
	background: #EAFFEF;
}

.lenh-ban {
	background: #FFEAEA;
}

.color-vnd-orange {
	color: #e88a2b;
}

.txt-orange {
	color: orange;
}

.txt-blue {
	color: blue;
}

.txt-gia-tang,.txt-green {
	color: #00cc00;
}

.txt-lime {
	color: lime;
}

.txt-gia-giam,.txt-red {
	color: red;
}

.txt-gia-san,.txt-aqua {
	color: cyan;
}

.txt-gia-tran,.txt-magenta {
	color: magenta;
}

.txt-gia-tc,.txt-yellow {
	color: #ffcc00;
}